# Dotfiles
.babelrc
.eslintignore
.eslintrc.json
.gitattributes
_config.yml

# Documents
CONTRIBUTING.md
README.md
CHANGELOG.md
LICENCE
ISSUE_TEMPLATE.txt
img

# Test cases
__tests__
dist/__tests__
example
node_modules
*.log